<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
        <div class="gird-x grid-padding-x">
          <div class="large-12 cell">
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                  {{#each posts as |post|}}
                  <li class="accordion-item is-active" data-accordion-item>
                    <a href="{{post.post_url}}"> 
                      {{post.title}}
                    </a>
                      <div class="accordion-content" data-tab-content>
                        <img src="{{post.post_url}}" target="_blank">
                          <div class="meta">
                            {{post.vote_count}} point(s) by {{post.user.username}} on
                            {{post.created_at}}
                            |
                            <a href="/post/{{post.id}}" data-open="exampleModal2">{{post.comments.length}} comment(s)</a>
                          </div>
                        </div>
                      </li>
                    {{/each}}
                  </ul>
              </div>
        </div>
  </div>
</div>
                  

